@tailwind base;

@tailwind components;

.comment-input {
  &--multiLine {
    @apply border border-gray-400 rounded bg-white p-1 text-xs text-gray-700 h-20;
  }

  &__input {
    @apply p-1;
  }

  &__suggestions__item {
    @apply p-1;
  }

  &__suggestions__list {
    @apply bg-white border border-gray-400 rounded-sm shadow-lg;
  }
}

#hovercraft-loading {
  -webkit-animation: hovercraft-loading 1s ease infinite,
    hovercraft-fadein 400ms ease;
  -moz-animation: hovercraft-loading 1s ease infinite,
    hovercraft-fadein 400ms ease;
  -o-animation: hovercraft-loading 1s ease infinite,
    hovercraft-fadein 400ms ease;
  animation: hovercraft-loading 1s ease infinite, hovercraft-fadein 400ms ease;
}

@keyframes hovercraft-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hovercraft-loading {
  0% {
    background-position-y: center;
  }

  50% {
    background-position-y: 8px;
  }

  100% {
    background-position-y: center;
  }
}

.notification {
  &__snackbar {
    transition: 0.22s ease-in-out;
  }
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.2s ease-in-out;
}

input:checked ~ .toggle__line {
  @apply bg-blue-500;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
}

.tab-indicator {
  transition: left 200ms ease-in-out;
}

.sidebar-enter {
  @apply w-0;
}

.sidebar-enter-active {
  @apply w-2/3;
  transition: width 200ms ease-in-out;
}

.sidebar-enter-done {
  @apply w-2/3;
}

.sidebar-exit {
  @apply w-2/3;
}

.sidebar-exit-active {
  @apply w-0;
  transition: width 200ms ease-in-out;
}

.header__content-enter {
  max-height: 0;
}

.header__content-enter-active {
  max-height: 6rem;
  transition: max-height 400ms ease-in-out;
}

.header__content-enter-done {
  max-height: 6rem;
}

.header__content-exit {
  max-height: 6rem;
}

.header__content-exit-active {
  max-height: 0;
  transition: max-height 400ms ease-in-out;
}

.transition-opacity-enter {
  @apply opacity-0;
}

.transition-opacity-enter-active {
  @apply opacity-100;
  transition: opacity 100ms;
}

.transition-opacity-enter-done {
  @apply opacity-100;
}

.transition-opacity-exit {
  @apply opacity-100;
}

.transition-opacity-exit-active {
  @apply opacity-0;
  transition: opacity 100ms;
}

/* Apply arrow to user hovercard */

.user-hovercard:after,
.user-hovercard:before {
  top: 100%;
  left: 8%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.user-hovercard:after {
  border-color: rgba(237, 242, 247, 0);
  border-top-color: #edf2f7;
  border-width: 6px;
  margin-left: -6px;
}

.user-hovercard:before {
  border-color: rgba(203, 213, 224, 0);
  border-top-color: #cbd5e0;
  border-width: 7px;
  margin-left: -7px;
}

.article-container__indicator {
  transition: opacity 0.1s;
}

@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/all.css";
